<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam maxime architecto ipsum nesciunt dolorem. Aperiam provident sint illo mollitia magni, minus odit ipsam voluptates, obcaecati omnis dolores consectetur quam adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, illo impedit autem, soluta odio consequatur voluptatem dolor aut quo labore dignissimos perspiciatis excepturi enim dolorum quod sunt neque natus iste!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat veniam odio ipsum laborum praesentium quam quo. Tempore minima odio quam exercitationem earum aut dolores. Quis molestias autem dolorum temporibus nulla!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>